body{
    margin: 0;
    background-color: rgb(146, 126, 107);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

header,main{
    width: min(95%,1023px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: rgb(92, 55, 9);
}

:target{
    animation: fade 2s;
}

@keyframes fade{
    from{
        background-color: rgb(198, 133, 27);
        color: white;
    }

    to{
        background-color: transparent;
    }
}

section{
    margin: 2rem 0;
    text-align: justify
}

img{
    width: max(25%,10rem);
    margin: 0 1rem;
}

#img1{
    float: right;
    margin-right: 0;
}

#img2{
    float: left;
    margin-left: 0;
}
cite:before{
    content: "- ";
}
footer{
    box-shadow: inset 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.5) ;
    background-color: rgb(68, 54, 41);
    color: rgb(212, 199, 189);
    text-align: center;
    padding: 1rem;
}